<html lang="en">
<%- include ('./partials/head.ejs')%>
<body>
  <%- include ('./partials/nav.ejs')%>
  <div>
    <h1>page not found</h1>
  </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>