<html lang="en">
  <%- include ('./partials/head.ejs')%>
<body>
  <%- include ('./partials/nav.ejs')%>
  <div>
    <h1>about us </h1>
    <p>Lookup your randomly generated words in </p>
    <p>Lookup your randomly generated words in </p>
    <p>Lookup your randomly generated words in </p>

  </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>